
/************************************ Layout *****************************/


/* Draw border and padding inside specified width. Normalizes element sizes */
*, *:before, *:after 
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Small screens */
html 
{
    font: 100%/1.5 "Open Sans", sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

/* Medium screens (640px) */
@media(min-width: 40rem)
{
    html 
    {
        font-size: 112%;
    }
}

/* Large screens (1024px) */
@media(min-width: 64rem) 
{
    html 
    {
        font-size: 120%;
    }
}

body 
{
    background-color: #fff;
    color: #555;
}



/**************************************** Header ********************************/

header 
{
    background-color: #497bad;
    text-align: center;
}

.intro 
{
    margin: 2rem 0;
}

@media(min-width: 40rem) 
{
    .intro 
    {
        margin: 4rem 0;
    }
}

header h1 
{
    border: 3px solid #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    padding: .4rem .6rem;
    display: inline-block;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

header p 
{
    color: rgba(255,255,255,0.7);
    margin: 0 auto;
}

header a 
{
    color: rgba(255,255,255,0.9);
    text-decoration: underline;
}

.mobile 
{
    margin: 0 auto;
    max-width: 150px;
}

@media (min-width: 40rem) 
{
    .mobile 
    {
        max-width: 250px;
    }
}



/************************************** Section ***************************************/

section 
{
    border-top: 1px solid #eee;
    text-align: center;
    padding: 2rem 0;
}

    section:first-of-type 
    {
        border-top: none;
    }

@media (min-width: 40rem) 
{
    section 
    {
        padding: 4rem 0;
    }
}



/******************************************* Grid ****************************************/


.grid 
{
    text-align: center;
}

    .grid.container 
    {
        border: 2px;
        padding: 1rem 1rem 0 1rem;
    }

@media (min-width: 40rem) 
{
    .grid.container 
    {
        padding: 1rem 0 0 0;
    }
}

    .grid.column 
    {
        margin-bottom: 1rem;
    }


    .grid span 
    {
        display: block;
        padding: 1rem;
        font-size: 0.9rem;
        color: #BBC7CC;
    }




/* Parent container */
.container 
{
    margin: 0 auto;
    max-width: 53rem;
    width: 90%;
}


/* Columns */
.column 
{
    margin-bottom: 1.5rem;
}

@media (min-width: 40rem) 
{
    .column 
    {
        float: left;
        margin: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

    .column.full 
    {
        width: 100%;
    }

    .column.two-thirds 
    {
        width: 66.7%;
    }

    .column.half 
    {
        width: 50%;
    }

    .column.one-third 
    {
        width: 33.3%;
    }

    .column.one-fourth 
    {
        width: 24.95%;
    }

    .column.opposite 
    {
        float: right;
    }


/* Rows */
.row 
{
    /*background: rgba(225,255,255,0.1);*/
    border: 2px solid rgba(255,255,255,0.2);
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 1rem;
}

@media (min-width: 40rem) 
{
    .row 
    {
        padding: 1rem 0 0 0;
    }
}


    .row:last-of-type 
    {
        margin-bottom: 0;
    }



/*******************************************Elements******************************************/


hr 
{
    border: 0;
    border-top: 1px solid #ddd;
    margin: 2rem auto;
    width: 3rem;
}


@media (min-width: 40rem) 
{
    hr 
    {
        margin: 2.5rem auto;
    }
}


    hr.small 
    {
        margin: 1.5rem auto;
    }


img 
{
    display: block;
    height: auto;
    margin: 0 auto 1.5rem auto;
    width: 100%;
}


blockquote 
{
    border-left: 3px solid #CCC;
    font-style: italic;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
}



/******************************************** Buttons **************************************/


.button 
{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}


.button 
{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #497bad;
    padding: 0.7rem 1.5rem;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    
    -webkit-transition: background ease 0.2s;
    -moz-transition: background ease 0.2s;
    transition: background ease 0.2s;
}

    @media (min-width: 40rem) 
    {
        .button 
        {
            display: inline-block;
            font-size: 0.9rem;
        }
    }

    .button:hover 
    {
        text-decoration: none;
    }


.button.rectangle 
{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #497bad;
    padding: 0.7rem 1.5rem;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    
    -webkit-transition: background ease 0.2s;
    -moz-transition: background ease 0.2s;
    transition: background ease 0.2s;
}


    .button.rectangle:hover 
    {
        background: #5183b6;
    }


.button.circle
{
    border: 3px solid #497bad;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 3.2rem;
    width: 3.2rem;
    line-height: 1.7rem;
    margin: 0 auto 1rem auto;

    -webkit-transition: border-color ease 0.5s;
    -moz-transition: border-color ease 0.5s;
    transition: border-color ease 0.5s;

}

    .button.circle:hover 
    {
        border-color: #57A3E8;
    }





/*******************************************Clearfix******************************************/


.clearfix:before, .clearfix:after
{
    content: " ";
    display: table;
}

.clearfix:after 
{
    clear: both;
}

.clearfix 
{
    *zoom: 1;
}